body{
    color: #1a7469;
    color: #ff4b4b;
    color: #ff9191 ;
    color: #fd3c4e;
    color: #a3272c;
    color: #82c5c1;
    color: #ed6a6b;
    color: #f2ca25;
    color: #151e8f;
    color: #f03366;
    color: #64b8b3;
    color: #50b0b8;
    color: #c75f5f;
    color: #1abc9c;
}
